


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<div class="upcoming py-5">
    <div class="container">
        <div class="row pb-4 text-center">
            <div class="col-md-12">
                <h2>KAMPANYALI ARAÇLARIMIZ</h2>
                <p> 7/24 SORUNSUZ , HIZLI , GÜVENİLİR ARAÇLAR.</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3 box border py-4">
                <div class="box-carimage">
                    <img src="https://img0.gaadicdn.com/images/car-images/265x110/Mahindra/Mahindra-XUV500-2018/6334/047.jpg"
                        alt="">
                </div>
                <div class="box-cartitle">
                    <h4> Mahindra XUV500 2018</h4>
                </div>
                <div class="box-carprice">
               
                </div>
                <div class="box-date pb-3">
               

                </div>
                <button type="button" class="btn btn-outline-danger">Hemen Kirala</button>
            </div>
            <div class="col-md-3 box border py-4">
                <div class="box-carimage">
                    <img src="https://img0.gaadicdn.com/images/car-images/265x110/Tata/Tata-Nexon/047.jpg" alt="">
                </div>
                <div class="box-cartitle">
                    <h4> Mahindra XUV500 2018</h4>
                </div>
                <div class="box-carprice">
                   
                </div>
                <div class="box-date pb-3">
                   

                </div>
                <button type="button" class="btn btn-outline-danger">Hemen Kirala</button>
            </div>
            <div class="col-md-3 box border py-4">
                <div class="box-carimage">
                    <img src="https://img0.gaadicdn.com/images/car-images/265x110/Mahindra/Mahindra-XUV500-2018/6334/047.jpg"
                        alt="">
                </div>
                <div class="box-cartitle">
                    <h4> Mahindra XUV500 2018</h4>
                </div>
                <div class="box-carprice">
              
                </div>
                <div class="box-date pb-3">
                 

                </div>
                <button type="button" class="btn btn-outline-danger">Hemen Kirala</button>
            </div>
            <div class="col-md-3 box border py-4">
                <div class="box-carimage">
                    <img src="https://img0.gaadicdn.com/images/car-images/265x110/Mahindra/Mahindra-XUV500-2018/6334/047.jpg"
                        alt="">
                </div>
                <div class="box-cartitle">
                    <h4> Mahindra XUV500 2018</h4>
                </div>
                <div class="box-carprice">
                   
                </div>
                <div class="box-date pb-3">
                   

                </div>
                <button type="button" class="btn btn-outline-danger">Hemen Kirala</button>
            </div>
        </div>
        <div class="row text-center pt-4">
            <div class="col-md-12">
                <a class="btn btn-danger" href="/">Kampanyaları Gör</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <br>
    <h5>
        <br>
        <div class="row" id="ads">

            <div class="col-md-4">
                <div class="card rounded">
                    <div class="card-image">
                        <span class="card-notify-badge">Honda Civic 2018</span>

                        <img class="img-fluid"
                            src="https://imageonthefly.autodatadirect.com/images/?USER=eDealer&PW=edealer872&IMG=USC80HOC011A021001.jpg&width=440&height=262"
                            alt="Alternate Text" />
                    </div>
                    <div class="card-image-overlay m-auto">


                    </div>
                    <div class="card-body text-center">
                        <div class="ad-title m-auto">

                        </div>
                        <a class="btn btn-primary" href="kiralama">Aracı Kirala</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card rounded">
                    <div class="card-image">
                        <span class="card-notify-badge">Honda Accord 2018</span>

                        <img class="img-fluid"
                            src="https://imageonthefly.autodatadirect.com/images/?USER=eDealer&PW=edealer872&IMG=CAC80HOC021B121001.jpg&width=440&height=262"
                            alt="Alternate Text" />
                    </div>
                    <div class="card-image-overlay m-auto">
                        <a class="btn btn-primary" href="kiralama">Aracı Kirala</a>
                    </div>
                    <div class="card-body text-center">
                        <div class="ad-title m-auto">

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card rounded">
                    <div class="card-image">
                        <span class="card-notify-badge">Honda İmpeza 2018</span>

                        <img class="img-fluid"
                            src="https://imageonthefly.autodatadirect.com/images/?USER=eDealer&PW=edealer872&IMG=USC80HOC091A021001.jpg&width=440&height=262"
                            alt="Alternate Text" />
                    </div>
                    <div class="card-image-overlay m-auto">
                        <a class="btn btn-primary" href="kiralama">Aracı Kirala</a>
                    </div>
                    <div class="card-body text-center">
                        <div class="ad-title m-auto">

                        </div>
           
                    </div>
                </div>
            </div>

