


<div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
  style="background-image: url('https://mdbootstrap.com/img/new/slides/003.jpg');">
  

  
  <section class="search-banner text-white py-3 form-arka-plan" id="search-banner">
    <div class="container py-5 my-5">
      <div class="row text-center pb-4">
        <div class="col-md-12">
          <h2 class="text-white siyah-cerceve">Hemen Rezervasyon </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card acik-renk-form">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group ">
                    <select id="iller" class="form-control">
                      <option selected>Nereden Alacaksınız ?</option>
                      
                  
                      <option>İSTANBUL</option>
                      <option>ANTALYA</option>
                      <option>İZMİR</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group ">
                    <select id="ilceler" class="form-control">
                      <option selected>Alış Tarihi </option>
                      <option>Pazartesi</option>
                      <option>Salı</option>
                      <option>Çarşamba</option>
                      <option>Perşembe</option>
                      <option>Cuma</option>
                      <option>Cumartesi</option>
                      <option>Pazar</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group ">
                    <select id="arac-turu" class="form-control">
                      <option selected>Veriş Tarihi</option>
                      <option>Pazartesi</option>
                      <option>Salı</option>
                      <option>Çarşamba</option>
                      <option>Perşembe</option>
                      <option>Cuma</option>
                      <option>cumartesi</option>
                      <option>Pazar</option>
  
                    </select>
                  </div>
                </div>
              </div>
              <p class="font-weight-light text-dark">

              <div class="row">
                <div class="col-md-8">
                  <div class="form-group ">
                    <div class="col-md-8">
                      <div class="form-group ">
                        <select id="ilceler" class="form-control">
                          <option selected>Yakıt Türü </option>
                          <option>Dizel</option>
                          <option>Benzinli</option>
                          
                        </select>
                      </div>
                    </div>
                   
                  </div>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-warning  pl-5 pr-5">Ara</button>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>
</div>




<div class="container">
  <br>
  <h5>
    <br>
    <div class="row" id="ads">
     
      <div class="col-md-4">
        <div class="card rounded">
          <div class="card-image">
            <span class="card-notify-badge">Honda Civic 2018</span>
            
            <img class="img-fluid"
              src="https://imageonthefly.autodatadirect.com/images/?USER=eDealer&PW=edealer872&IMG=USC80HOC011A021001.jpg&width=440&height=262"
              alt="Alternate Text" />
          </div>
          <div class="card-image-overlay m-auto">
           
            
          </div>
          <div class="card-body text-center">
            <div class="ad-title m-auto">
             
            </div>
            <a class="btn btn-primary" href="Uyeol">Aracı Kirala</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card rounded">
          <div class="card-image">
            <span class="card-notify-badge">Honda Accord 2018</span>
      
            <img class="img-fluid"
              src="https://imageonthefly.autodatadirect.com/images/?USER=eDealer&PW=edealer872&IMG=CAC80HOC021B121001.jpg&width=440&height=262"
              alt="Alternate Text" />
          </div>
          <div class="card-image-overlay m-auto">
        <a class="btn btn-primary" href="Uyeol">Aracı Kirala</a>
          </div>
          <div class="card-body text-center">
            <div class="ad-title m-auto">
           
            </div>
          
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card rounded">
          <div class="card-image">
            <span class="card-notify-badge">Honda İmpeza 2018</span>
           
            <img class="img-fluid"
              src="https://imageonthefly.autodatadirect.com/images/?USER=eDealer&PW=edealer872&IMG=USC80HOC091A021001.jpg&width=440&height=262"
              alt="Alternate Text" />
          </div>
          <div class="card-image-overlay m-auto">
          <a class="btn btn-primary" href="Uyeol">Aracı Kirala</a>
          </div>
          <div class="card-body text-center">
            <div class="ad-title m-auto">
          
            </div>
          
          </div>
        </div>
      </div>

      

<div class="container">
  <div class="row voffset2">
    <div class="col-lg-12">
      <p>
        
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row voffset2">
    <div class="col-lg-12">
      <p>
        
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-5 col-md-offset-2"></div>
</div>
<div class="how-section1">
  <div class="row">
    <div class="col-md-6 how-img">
      <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid" alt="" />
    </div>
    <div class="col-md-6">

      <div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-5 col-md-offset-2"></div>
      
 
      <p class="text-muted">Araç kiralama hizmeti, birbirinden farklı durumlarda beklentilere ve ihtiyaçlara bağlı olarak çok önemli bir niteliğe
      sahip olabilmektedir. Herhangi bir yeri keşfetmek istediğinizde tercih edebileceğiniz araç kiralama, oldukça keyifli ve
      pratik bir hizmet olmasının yanı sıra şahsi aracınızı çeşitli sebeplerden dolayı kullanamadığınız durumlarda
      değerlendirebileceğiniz son derece önemli bir hizmete de dönüşebilmektedir. Rent a car hizmeti alırken zamanında
      teslimat, istenilen modelde araç, özellikle Covid-19 dönemi boyunca aracın temizliği ve hijyeni, farklı bütçelere hitap
      eden fiyat seçenekleri gibi konularda size güven veren ve alternatifler sunabilen bir araba kiralama firmasını seçmek
      gerekmektedir..</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      
      
      <p class="text-muted">1957 yılında Amerika Birleşik Devletleri'nde kurulan ve dünyanın en büyük araç kiralama şirketi olan kadir rent a car
      günümüzde 100 ayrı ülkede rent a car konusunda; filo zenginliğinden müşteri memnuniyetine, ofis sayısından ek hizmetlere
      kadar standartları belirleyen şirket olma ayrıcalığına sahiptir. Aynı hizmet kalitesini Türkiye'ye de taşıyan
      kadir rent a car; toplamda 31 ilde, 80'in üzerinde ofis açarak ulusal çapta kısa sürede yaygınlaşmıştır. Büyüme hızını koruyan
      Enterprise firmasının dünyaca ünlü müşteri memnuniyetini daha da yukarı çıkaran Enterprise Türkiye, bireysel araç
      kiralamadan kurumsal araç kiralamaya, günlük araç kiralamadan aylık araç kiralamaya kadar birbirinden farklı talepleri
      karşılayan kapsamlı bir çalışma prensibi ile hareket etmektedir..</p>
    </div>
    <div class="col-md-6 how-img">
      <img src="https://image.ibb.co/cHgKnU/Work_Section2_freelance_img2.png" class="rounded-circle img-fluid" alt="" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 how-img">
      <img src="https://image.ibb.co/ctSLu9/Work_Section2_freelance_img3.png" class="rounded-circle img-fluid" alt="" />
    </div>
    <div class="col-md-6">
     
      <p class="text-muted">Elektrikli ve hibrit gibi son teknolojik araçlardan; sedan, hatchback, MPV, SUV, ticari gibi araç alternatiflerinin
      tümünü manuel veya otomatik vites, benzinli ya da dizel seçenekleri ile Enterprise’ın geniş araç filosunda
      bulabilirsiniz. Ayrıca Kadir rent a car, birçok markayla geliştirmiş olduğu iş birliği fırsatları sayesinde sunduğu
      uygun fiyatlar ve adrese teslim gibi size özel avantajlar ile araba kiralamayı çok daha çekici bir hale getirmektedir.
      Siz de Enterprise'ın dünya standartlarındaki rent a car hizmetinden yararlanarak kiralık araç konusundaki
      memnuniyetinizi üst seviyelere taşıyabilirsiniz..</p>
    </div>
  </div>
  


<footer class="bg-light text-center text-lg-start">

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © Yılmaz Rent a Car
    
  </div>
 
</footer>

<router-outlet></router-outlet>