




<div class="container">


    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Hesap Oluştur</h4>
            
    
    
            <form>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="AdSoyad" type="text">
                </div> 
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="Email " type="email">
                </div> 
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                    </div>
                    <select class="custom-select" style="max-width: 120px;">
                        <option selected="">+90</option>
                        <option value="1">+90</option>
                        <option value="2">+198</option>
                        <option value="3">+701</option>
                        <option value="3">+445</option>
                    </select>
                    <input name="" class="form-control" placeholder="Telefon " type="text">
                </div> 
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                    </div>
                   
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Şifre*" type="password">
                </div> 
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Tekrar Şifre*" type="password">
                </div> 
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Hesabı Oluştur </button>
                </div> 
                <p class="text-center">Hesabın Varmı ? <a href="giris">Giriş Yap</a> </p>
            </form>
        </article>
    </div> 
</div>








<router-outlet></router-outlet>
